.form {
    padding-left: 500px;
    font-family: 'Times New Roman', Times, serif;
}
.head {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:darkorange;
    text-decoration: darkred;
}
.btn1 {
    margin-right: 16px;
    border-radius: 30px;
    color: blue; 
}
.btn1:hover {
    background-color: deeppink;
    color: ghostwhite;
}
.btn2 {
    margin-right: 16px;
    border-radius: 30px;
    color: crimson;
}
.btn2:hover {
    background-color: deeppink;
    color: ghostwhite;
}
.BG {
  background-color:aliceblue;
}