<div class="header" >
  <marquee><b><i>*EMPLOYEE DETAILS*</i></b></marquee>
  <div>
    <button class="btn0" (click)="EmployeRouting()" type="submit" value="button_0">SIGIN / SIGUP</button>
    <button class="btn1"  (click)="updateRouting()" type="submit" value="button_1">UPDATE</button> 
    <button class="btn2" (click)="deleteRouting()" type="submit" value="button_2">DELETE</button>
    <button class="btn3"  (click)="searchRouting()" type="submit" value="button_3">SEARCH BY ID</button>
    <button class="btn4" (click)="ViewallRouting()" type="submit" value="button_4">VIEW ALL RECORDS</button>
</div>
</div>

<router-outlet></router-outlet>

<!-- <div class="footer"> 
  <footer>footer</footer>
  <div>
    <button type="submit" value="button">BACK</button>
  </div> 
</div> -->
